<body style="margin: 6% 37%;">
<div class="alert alert-info" role="alert">

<form method="post" action="/">
  <div>
   <h2>{{ header }}</h2><br />
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" value="{{  Data.email}}" name="email" class="form-control" id="exampleInputEmail1" />
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  {% if(errors.email) %}

    <label class="form-check-label" style="color: red">{{ errors.email.msg }}</label>
  {% endif %}
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" name="password" value="{{  user.password}}"class="form-control" id="exampleInputPassword1" />
    {% if(errors.password) %}

    <label class="form-check-label" style="color: red">{{ errors.password.msg }}</label>
  {% endif %}
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Enter password again</label>
    <input type="password" name="rePassword"class="form-control" id="exampleInputPassword1" />
    {% if(errors.rePassword) %}

    <label class="form-check-label" style="color: red">{{ errors.rePassword.msg }}</label>
  {% endif %}
  </div>
  <button type="submit" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Submit</button>
</div>

<!-- The Modal -->

</form>
</div>
</body>



    {% block head_css %}
    {# <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> #}
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

            {# <link rel="stylesheet" type="text/css" href='index.css'> #}
            {# <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
            <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script> #}
    
    {% endblock %}















{# <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

<!-- <script src='jquery-3.4.1.js'></script>
<link rel="bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"> -->

<body class="hm-gradient">
    
    <main>
        <form style="margin: 10% 26%" method='post' action='/'>

            <!-- <div class="col-md-6 mb-4"> -->
                    <div class="card">
                        <div class="card-body">
                            <!-- Form register -->
                                <h3 class="text-center pink-text font-bold py-4"><strong>{{ header }}</strong></h3>
                                <div class="md-form">
                                    <i class="fa fa-user prefix grey-text"></i>
                                    <input type="email" value="{{ Data.email}}" name="email" id="orangeForm-name37" class="form-control" required>
                                    <label for="orangeForm-email37">Your email</label>
                                {% if(errors.email) %}
                                    <text style="color:red">{{ errors.email.msg }}</text>
                              {% endif %}
                                </div>
                                <div class="md-form">
                                    <i class="fa fa-envelope prefix grey-text"></i>
                                    <input type="password" name="password"id="orangeForm-email377" class="form-control" required>
                                    <label for="orangeForm-name377">Your Password</label>
                                {% if(errors.password )%}
                                    <text style="color:red">{{ errors.password.msg }}</text>
                                {% endif %}
                                </div>
                                <div class="md-form">
                                    <i class="fa fa-envelope prefix grey-text"></i>
                                    <input type="password" name="rePassword" id="orangeForm-email37" class="form-control"required>
                                    <label for="orangeForm-name37">Enter Password again</label>
                                    {% if(errors.rePassword) %}
                                    <text style="color:red">{{ errors.rePassword.msg }}</text>
                                {% endif %}
                                </div>
                                <div class="text-center py-4">
                                    <button class="btn btn-outline-pink" type="submit">Register</button> #}
